<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <Appenders>

        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="../log/service.log"
                     filePattern="../log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!--<TimeBasedTriggeringPolicy />-->
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <logger name="org.springframework" level="warn"/>
        <logger name="org.elasticsearch" level="warn"/>
        <logger name="org.hibernate" level="warn"/>
        <logger name="org.apache.kafka" level="warn"/>
        <logger name="netty" level="warn"/>
        <logger name="io.netty" level="warn"/>

        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</configuration>